* {
  font-family: 'Rajdhani', sans-serif;
  background-color: rgb(228, 228, 228);
}

html {
  scroll-behavior: smooth;
}


.title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  padding: 15px;
  height: 100vh;
}

.title p {
  font-weight: lighter;
}

.title h2 {
  font-size: 1em;
}

.homepageNavbar li:hover {
  font-weight: bolder;
} 


.custom-navbar ul {
  list-style: none;
  padding: 0;

}

.custom-navbar li {
  margin-right: 20px;
}

.custom-navbar a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.projectHeading h1 {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.projectHeading h1:hover::before {
  content: " { "
}

.projectHeading h1:hover::after {
  content: " } "
}


.projects {
  display: flex;
  justify-content: flex-end;
}

.projectList {
  display: flex;
  flex-direction: column;
}

.projectItem::before {
  content: ""
}

.projectItem:hover {
  text-decoration: 5px rgb(167, 238, 255) line-through;
}

.projectItem:hover::before {
  content: "{"
}

.projectItem:hover::after {
  content: "}"
}


.projectList a {
  display: flex;
  justify-content: flex-end;
}

.banconeProject,
.weatherAppProject,
.randomFactsProject p,
.quoteGenerator p,
.threeJs p  {
  display: flex;
  justify-content: flex-end;
}

.banconeProject p,
.weatherAppProject p,
.randomFactsProject p,
.quoteGenerator,
.threeJs p  {
  font-size: 1.5em;
  font-weight: lighter;
}

.projectItem {
  font-size: 5em;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  transform: translate(45deg);
}


.submitForm {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.submitForm input {
  border-radius: 5px;
}

.submitForm input:nth-child(3) {
  padding: 50px;
}

.welcomeTab {
  display: flex;
  transform: rotate(-90deg);
  translate: -6em 45em;
  font-size: 15px;
  position: absolute;
}

.logos {
  position: fixed;
  top: 30px; 
  right: 100px; 
  display: flex;
  align-items: center; 
  
}

.logos a {
  margin-left: 60px;
}

.logos img {
  width: 50px;
  position: absolute
}

.skillsLogo {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
}

.skillsLogo img {
  width: 50px; 
}

.skillsImages {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.skillImage {
  width: 50px;
  height: auto;
  margin: 30px;
  
}

.skillImage:hover {
  width: 100px;
  height: 100px;
  transition: width 1s;
}



.skillsElement1 img {
 opacity: 0;
 transition: opacity 3s;
}

.listItems {
  list-style-type: none;
}

.listItems img {
  width: 50px;
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease;
}

.item {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.item:nth-child(1) {
  transform: translateX(20px) translateY(50px);
  transition-delay: 1s;
}

.item:nth-child(2) {
  transform: translateX(50px) translateY(-20px);
  transition-delay: 2s;
}

.item:nth-child(3) {
  transform: translateX(-30px) translateY(70px);
  transition-delay: 3s;
}

.item:nth-child(4) {
  transform: translateX(-40px) translateY(-50px);
  transition-delay: 4s;
}

.item:nth-child(5) {
  transform: translateX(60px) translateY(30px);
  transition-delay: 5s;
}

.footerHeader {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submitForm {
  width: 30%;
}

.skillsHeading {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.skillsHeading h1:hover::before {
  content: "{"
}

.skillsHeading h1:hover::after {
  content: "}"
}


.homepageNavbar li:hover::before {
  content: "{"
}

.homepageNavbar li:hover::after {
  content: "}"
}