* {
  font-family: 'Rajdhani', sans-serif;
  /* background-color: rgb(228, 228, 228); */
  background-color: rgb(226, 253, 255);
}

html {
  scroll-behavior: smooth;
}


.title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  padding: 15px;
  height: 100vh;
}

.title p {
  font-weight: lighter;
}

.title h2 {
  font-size: 1em;
}

.homepageNavbar li:hover {
  font-weight: bolder;
} 


.custom-navbar ul {
  list-style: none;
  padding: 0;

}

.custom-navbar li {
  margin-right: 20px;
}

.custom-navbar a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.projectHeading h1 {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.projectHeading h1:hover::before {
  content: " { "
}

.projectHeading h1:hover::after {
  content: " } "
}


.projects {
  display: flex;
  justify-content: flex-end;
}

.projectList {
  display: flex;
  flex-direction: column;
}

.projectItem::before {
  content: ""
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(100px); }
}


.projectItem:hover {
  text-decoration: 5px rgb(167, 238, 255) line-through;
  animation: slide 1s ease-in-out;

}

.projectItem:hover::before {
  content: "{"
}

.projectItem:hover::after {
  content: "}"
}


.projectList a {
  display: flex;
  justify-content: flex-end;
}

.banconeProject,
.weatherAppProject,
.randomFactsProject p,
.quoteGenerator p,
.threeJs p  {
  display: flex;
  justify-content: flex-end;
}

.banconeProject p,
.weatherAppProject p,
.randomFactsProject p,
.quoteGenerator,
.threeJs p  {
  font-size: 1.5em;
  font-weight: lighter;
}

.projectItem {
  font-size: 5em;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  transform: translate(45deg);
}


.submitForm {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.submitForm input {
  border-radius: 5px;
}

.submitForm input:nth-child(3) {
  padding: 50px;
}

.welcomeTab {
  display: flex;
  transform: rotate(-90deg);
  translate: -6em 45em;
  font-size: 15px;
  position: absolute;
}

.logos {
  position: fixed;
  top: 30px; 
  right: 100px; 
  display: flex;
  align-items: center; 
  
}

.logos a {
  margin-left: 60px;
}

.logos img {
  width: 50px;
  position: absolute
}

.skillsLogo {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
}

.skillsLogo img {
  width: 50px; 
}

.skillsImages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.skillImage {
  width: 50px;
  height: auto;
  margin: 30px;
}

.skillImage:hover {
  transform: scale(1.2);
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0px); }
}

.skillImage:hover {
  width: 50px;
  height: auto;
  margin: 30px;
  animation: slide 1s ease-in-out infinite; 
}


.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out; 
}

.iconElement1,
.iconElement2,
.iconElement3,
.iconElement4,
.iconElement5,
.iconElement6,
.iconElement7 {
  opacity: 0;
}


.item {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.item:nth-child(1) {
  transform: translateX(20px) translateY(50px);
  transition-delay: 1s;
}

.item:nth-child(2) {
  transform: translateX(50px) translateY(-20px);
  transition-delay: 2s;
}

.item:nth-child(3) {
  transform: translateX(-30px) translateY(70px);
  transition-delay: 3s;
}

.item:nth-child(4) {
  transform: translateX(-40px) translateY(-50px);
  transition-delay: 4s;
}

.item:nth-child(5) {
  transform: translateX(60px) translateY(30px);
  transition-delay: 5s;
}

.footerHeader {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submitForm {
  width: 30%;
}

.skillsHeading {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.skillsHeading h1:hover::before {
  content: "{"
}

.skillsHeading h1:hover::after {
  content: "}"
}


.homepageNavbar li:hover::before {
  content: "{"
}

.homepageNavbar li:hover::after {
  content: "}"
}

button {
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.gitBtn,
.linkedinBtn {
  width: 150px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.infoContainer {
  background-color: rgba(215, 252, 255, 0.7); 
  padding: 20px; 
}

.infoBorder {
  /* You can keep your existing styles for the border if needed */
  border: 1px solid #ccc;
  padding: 10px;
}

.footerContainer {
  background-color: rgba(215, 252, 255, 0.7); 
  padding: 0px; 
  margin: 0px;
}

.footerContent {
  background-color: rgba(215, 252, 255, 0.7); 
}

.footerContent p {
  background-color: rgba(215, 252, 255, 0.7);  
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.footerContent p:nth-child(2) {
  font-size: 1.5em;
  
}

.footerContent img {
  background-color: rgba(215, 252, 255, 0.7);
}

